// COLOR

$body-bg: rgb(21, 75, 122);
$body-bg2: rgb(5, 28, 48);
$body-color-text: #eee;

$primary: #29f;
$default: #777;

$orange: rgb(255, 81, 0);

// Header
$header-h: 30px;

// Media queries
$break_mobile: 700px;
$break_tablet: 950px;
