.view_presentation {
  text-align: center;
}
.presentation-logo {
  max-width: 290px;
  margin: 0 auto;
}
.presentation-title {
  font-size: 28px;
  margin-bottom: 1em;
}
.presentation-text {
  line-height: 1.4;
}
